*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bg-deepblue{
    background: #101b37;
}
.bg-pink{
    background: #5d327a;
}
.bg-pink2{
    background: #db3773;
}
/*nav*/
nav select{
    background: none;
    color: white;
    border: none;
}
.navbar .active{
    background: red;
}
/*banner*/
.banner{
    background: url(../image/hero2.jpg);
    background-size: cover;
    background-position: center;
}
.nav-pills .nav-link{
    color: white;
    background-color: #4b3473;
}
.nav-pills .nav-link.active, .nav-pills .show.nav-link{
    background-color: rgb(243, 64, 32);
}
/*FUN SECTION*/
.fun{
    color: white;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../image/img.jpg);
    background-size: cover;
    background-position: center;
}
/*newsletters*/
.newsletters{
    color: white;
    background:url(../image/flight.jpg);
    background-size: cover;
    background-position: center;
}
.bg-trans{
     background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2));
     color: white;
}
/*dest*/
.dest{
    background:linear-gradient(rgb(234, 98, 154),rgb(119, 70, 146)) ;
}
.dest .image-resize{
    height: 200px;
}
.dest p span{
    color: rgb(235, 142, 11);
}
/*estimate*/
.estimate{
    background: #8e6ec5;
}
.estimate p span{
    border-bottom: 2px solid rgb(89, 51, 106);
}
/*blog*/
.blog{
    background: linear-gradient(rgb(183, 143, 236),rgb(227, 223, 223));
}
.blog p span{
    border-bottom: 2px solid red;
}
/*footer*/
.ftr{
    background: linear-gradient(rgb(53, 9, 83),rgb(17, 1, 61));
}
.ftr p span{
    color: rgb(143, 141, 141);
}
.footnav{
    background: #0a011a;
    width: 100%;
}
.footnav img{
    width: 40px;
    height: 40px;
}
.footnav p span{
    color: red;
}